absl-py==2.2.1
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse==1.6.3
async-lru
attrs
babel
beautifulsoup4
bleach
Brotli
cachetools==5.5.2
certifi
cffi
charset-normalizer
colorama
comm
contourpy==1.3.1
cycler==0.12.1
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
flatbuffers==25.2.10
fonttools==4.56.0
gast==0.4.0
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.71.0
h11
h5py==3.13.0
httpcore
httpx
idna==3.10
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib==1.4.2
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.7
MarkupSafe
matplotlib==3.10.1
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy==1.23.5
oauthlib==3.2.2
opt_einsum==3.4.0
overrides
packaging==20.9
pandas==2.2.3
pandocfilters
parso
pillow==11.1.0
platformdirs
prometheus_client
prompt-toolkit
protobuf==3.19.6
psutil
pure-eval
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser
Pygments
pyparsing==3.2.3
PyQt6==6.7.1
PyQt6_sip
PySocks
python-dateutil
python-json-logger
pytz==2025.2
pywin32==308
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
requests-oauthlib==2.0.0
rfc3339-validator
rfc3986-validator
rpds-py
rsa==4.9
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
Send2Trash
sip
six
sniffio
soupsieve
stack-data
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-cpu==2.10.0
tensorflow-directml-plugin==0.4.0.dev230202
tensorflow-estimator==2.10.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.10.0
tensorflowjs==3.18.0
termcolor==2.5.0
terminado
threadpoolctl==3.6.0
tinycss2
tomli
tornado
traitlets
typing_extensions
tzdata==2025.2
urllib3
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==3.1.3
widgetsnbextension
win-inet-pton
